<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, Ed!</h1>
    <p><%= @question.name %> just asked you a question:</p>
    <i><%= @question.text %></i>
  </body>
</html>