<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name || @user.email %>!</h1>
    <p>Ed Sarna just posted something new at <a href="http://edsarna.com">edsarna.com</a>. Head over and check it out.</p>
  </body>
</html>