<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name || @user.email %>!</h1>
    <p>You have signed up to receive emails whenever Ed Sarna posts some new content to his blog. If you don't remember doing this, someone is likely stealing your identity - click <a href="http://edsarna.com/#/unsubscribe">here</a> to unsubscribe.</p>
  </body>
</html>