.small-image {
  width: 160px;
  margin: 5px;
}

.navbar-room {
  margin-top: 75px;
}

.footer-room {
  margin-bottom: 25px;
}

.less-padding {
  padding-top: 10px;
}

.space-below {
  margin-bottom: 40px;
}

.image-rows {
  margin-left: 20px;
  margin-right: 20px;
}

.post-rows {
  margin-left: 8%;
  margin-right: 8%;
  max-height: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gallery-image {
  height: 250px;
}

.blog-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bold {
  font-weight: bold;
}

.yellow {
  color: #EEE418;
}

.black {
  color: black;
}

.image-border {
  border-style: solid;
  border-width: 5px;
  border-color: black;
}